body {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

.logo {
    text-shadow: #575755 1px 0 10px;
}

.bronze {
    background-color: #CD7F32;
}

.teal {
    color: #008080;
}

.bteal {
    border-color: #008080;
}

.img-hero {
    background-image: url(https://plus.unsplash.com/premium_photo-1682001193548-9f70207a0acf?q=80&w=2659&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    min-height: 65dvh;
    background-size: cover;
    background-position: center;
    max-width: 100%;
}

.textbox {
    height: 100px;
}

.lato-black {
    font-weight: bolder;
}

.fader {
    opacity: 0.6;
    transition: 0.3s;
}

.fader:hover {
    opacity: 1.0;
}

.fluffy-card {
    position: absolute;
    bottom: -15dvh;
    max-width: 95dvh;
}

.fluffy-offset {
    margin-bottom: 15dvh;
}

.fluffy-holder {
    padding: 0;
    min-height: -10dvh;
    position: absolute;
}

.img-yarn {
    max-height: 50dvh;
    border: 8px solid white;
}

.img-map {
    background-image: url(https://images.unsplash.com/photo-1582909184950-f5d85d232510?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDd8fG1hcHxlbnwwfHwwfHx8MA%3D%3D);
    min-height: 40dvh;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    padding: none;
}

.background-grey {
    background-color: lightgrey;
    padding: none;
}

.reviewer {
    color: #CC5500;
    text-align: center;
}

@media (max-width: 760px) {
    .hide-small {
        display: none;
    }

    .rm-fluffy-card {
        position: relative;
        bottom: auto;
        max-width: 100%;
    }

    .rm-fluffy-offset {
        margin-bottom: none;
    }

    .rm-fluffy-holder {
        padding: 0;
        min-height: autoh;
        position: relative;
    }
}